* {
    box-sizing: border-box;
}

:root {
    --border-color: #4e3554;
    font-family: "Maiandra GD", Rockwell, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 0;
    font-weight: 400;
    font-size: 18px;
    color-scheme: light dark;
    color: #000;
    background-color: #8e9b94;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #7e7e93;
    text-decoration: inherit;
}

a:hover {
    color: #9b9cb2;
}

body {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    height: 100vh;
    width: 100vw;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
}

button {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family: inherit;
    background: #fff;
    font-weight: 400;
    font-size: 18px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    min-height: 30px;
    min-width: 50px;
    padding: 10px 10px;
    height: 40px;
    transition: all ease-in-out 200ms;
}

button:hover {
    background: #c9dad9;
}

#app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

