* {
    box-sizing: border-box;
}

:root {
    --mc-1: #dbcbba; /*background*/
    --mc-2: #4f4564; /*border*/
    --mc-3: #272727; /*text*/
    --mc-4: #c8c3d8; /*hover*/
    --mc-5: #7e7fa0; /*selected*/
    --mc-6: #eae0d9; /*button bg && dynamic cells*/
    --mc-7: #d8d8d8; /*fixed cells*/
    --erc-1: #fd9c9c;
    --erc-2: #ff8a8a;
    --erc-3: #f66d6d;
    --shc-1: rgba(12, 13, 39, 0.7);
    --shc-2: rgba(36, 31, 39, 0.66);
    font-family: "Maiandra GD", Rockwell, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 0;
    font-weight: 400;
    font-size: 18px;
    color-scheme: light dark;
    color: var(--mc-3);
    background-color: var(--mc-1);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #7e7e93;
    text-decoration: inherit;
}

a:hover {
    color: #9b9cb2;
}

body {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    height: 100vh;
    width: 100vw;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
}

button {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family: inherit;
    background: var(--mc-6);
    font-weight: 400;
    font-size: 18px;
    color: var(--mc-3);
    border: 2px solid var(--mc-2);
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    min-height: 30px;
    min-width: 50px;
    padding: 10px 10px;
    transition: all ease-in-out 200ms;
    &:hover {
        background: var(--mc-4);
    }
}

#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
