#gameShell {
    position: relative;
    padding: 0;
    min-height: 90vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#gameNavigation-block {
    min-width: 100%;
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#newGame-block {
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* #showModalButton {
} */

#selectCells-block {
    background: var(--mc-7);
    padding: 10px;
    border: 2px solid var(--mc-2);
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, -100%);
    position: absolute;
    display: none;
    gap: 10px;
}

#borderGrid3 {
    min-width: fit-content;
    min-height: fit-content;
    overflow: hidden;
    border: 5px solid var(--mc-6);
    border-radius: 22px;
    background: var(--mc-6);
}
#borderGrid2 {
    position: relative;
    min-width: fit-content;
    min-height: fit-content;
    overflow: hidden;
    border: 10px solid var(--mc-2);
    border-radius: 18px;
    background: var(--mc-2);
}

#borderGrid1 {
    /* position: relative; */
    min-height: inherit;
    min-width: inherit;
    overflow: hidden;
    border: 5px solid var(--mc-2);
    border-radius: 13px;
    background: var(--mc-2);
}

#shadowGrid {
    display: absolute;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 11px;
    overflow: hidden;
    box-shadow: inset 0 0 12px 6px var(--shc-1);
    z-index: 500;
}

#insertNumbers-block {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    gap: 5px;
}

.timer-element {
    height: 40px;
    width: 110px;
    min-height: 30px;
    min-width: 60px;
    padding: 10px;
    border: 2px solid var(--mc-6);
    border-radius: 20px;
    background: var(--mc-2);
    color: var(--mc-6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrongAnswers-element {
    height: 40px;
    width: 110px;
    min-height: 30px;
    min-width: 50px;
    padding: 10px;
    border: 2px solid var(--mc-6);
    border-radius: 20px;
    background: var(--mc-2);
    color: var(--mc-6);
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    overflow: hidden;
}

td {
    background: var(--mc-7);
    height: 55px;
    width: 55px;
    padding: 0px;
    border: 2px solid var(--mc-2);
    overflow: hidden;
}

tr {
    text-align: center;
    /* background: var(--shc-3); */
    font-weight: 900;
    font-size: 18px;
}
/* tr:first-child > td:first-child {
    border-radius: 8px 0 0 0;
}
tr:first-child > td:last-child {
    border-radius: 0 8px 0 0;
}
tr:last-child > td:last-child {
    border-radius: 0 0 8px 0;
}
tr:last-child > td:first-child {
    border-radius: 0 0 0 8px;
} */

tr > td {
    border-top: none;
}
tr > td:first-child {
    border-left: none;
}
tr > td {
    border-right: none;
}
tr:last-child > td {
    border-bottom: none;
}

.gridRowBorder {
    border-top: 5px solid var(--mc-2);
}

.gridColBorder {
    border-left: 5px solid var(--mc-2);
}

.cellButton {
    text-align: center;
    background: var(--mc-6);
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    cursor: pointer;
    &:hover {
        background: var(--mc-4);
    }
}

.selectCellButton {
    background: var(--mc-5);
    &:hover {
        background: var(--mc-5);
    }
}

/* .cellTL {
    border-radius: 6px 0 0 0;
}

.cellTR {
    border-radius: 0 10px 0 0;
}

.cellBR {
    border-radius: 0 0 10px 0;
}

.cellBL {
    border-radius: 0 0 0 10px;
} */

.errorCellButton {
    background: var(--erc-1);
    &.selectCellButton {
        background: var(--erc-3);
    }
    &:hover {
        background: var(--erc-3);
    }
}

.gameOver {
    position: absolute;
    border-radius: 10px;
    padding: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--shc-2);
    color: var(--goc-1);
    backdrop-filter: blur(3px);
    & span {
        line-height: normal;
        font-size: 40px;
        font-weight: 400;
        text-wrap: wrap;
        text-align: center;
    }
}

.loading {
    color: var(--goc-1);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.material-symbols-outlined.hourglass_empty {
    height: fit-content;
    width: fit-content;
    font-variation-settings:
        "FILL" 0,
        "wght" 350,
        "GRAD" 200,
        "opsz" 100;
    color: var(--goc-1);
    font-size: 50px;
    animation-name: spin;
    animation-duration: 1066ms;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.active-button {
    animation: shb 300ms cubic-bezier(1, 0.92, 0.7, 1);
    & > span {
        animation: tsb 300ms cubic-bezier(1, 0.92, 0.7, 1);
    }
}

@keyframes shb {
    0% {
        box-shadow: inset 0 0 0 0 var(--shc-1);
    }
    50% {
        box-shadow: inset 2px 2px 6px -3px var(--shc-1);
    }
    100% {
        box-shadow: inset 0 0 0 0 var(--shc-1);
    }
}

@keyframes tsb {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(1px, 1px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@media (max-width: 632px) {
    td {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 578px) {
    td {
        height: 10vw;
        width: 10vw;
    }
    #borderGrid3 {
        border-width: 1vw;
        border-radius: 3vw;
    }
    #borderGrid2 {
        border-width: 1.5vw;
        border-radius: 2.9vw;
    }
    #borderGrid1 {
        border-width: 1vw;
        border-radius: 1vw;
    }
    #shadowGrid,
    .gameOver {
        border-radius: 2vw;
    }
    table {
        border-width: 1vw;
        border-radius: 1.6vw;
    }
    tr,
    td {
        border-width: 0.3vw;
    }
    .gridRowBorder {
        border-top-width: 0.5vw;
    }
    .gridColBorder {
        border-left-width: 0.5vw;
    }
    button {
        border-width: 0.3vw;
    }
}

@media (max-width: 490px) {
    .timer-element {
        height: 40px;
        width: 90px;
    }

    .wrongAnswers-element {
        height: 40px;
        width: 90px;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 2.8rem;
    }
    #gameShell {
        gap: 10px;
    }
    .timer-element {
        height: 40px;
        width: 90px;
    }
    .wrongAnswers-element {
        height: 40px;
        width: 90px;
    }
    #selectCells-block {
        transform: translate(-50%, -100%);
        padding: 7px;
        gap: 7px;
    }
    .newGame-button {
        padding: 5px;
    }
    .showModalBlock-button {
        padding: 5px;
    }
    #newGame-block {
        gap: 5px;
    }
    .gridRowBorder {
        border-top-width: 2px;
    }
    .gridColBorder {
        border-left-width: 2px;
    }
}

@media (max-width: 360px) {
    #newGame-block {
        gap: 5px;
    }
}

/* .gameCompleted {
    display: flex;
    justify-content: center;
    align-items: center;

    & span {
        line-height: normal;
        font-size: 30px;
        text-wrap: wrap;
        text-align: center;
    }
} */

/* #insertNumberButtons-block > button {
} */
